<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

</head>
<body>
    <h1>Looking Back Over The Years</h1>
    <marquee behavior="scroll" direction="left"> • Thank YOU for having SOUL! • 2017, 2018, 2019, 2020, 2021 ... today! • Thank YOU for having SOUL! • </marquee>
    
   <center> <img src="/Users/epaadministrator/Downloads/TS 2021/TS Feb 2021/The Soultown new logo 2.png" alt=""> </center>
   
    <p>Welcome to The Soultown Magazine, a monthly publication that focuses on the positive stories happening in our communities as we speak.
        <br>More specifically, the virtual community of the Soultown. 
        <br>Get your digital copy by clicking the button below. Digital formats are made available on the 15th of every month.</p>

        <center><iframe name="joomag-embed-6c9c197d-9bd5-4754-a6fa-94d032002c5f" allowfullscreen="allowfullscreen" style="width:900px;height:534px;" width="900" height="534" hspace="0" vspace="0" frameborder="0" src="https://viewer.joomag.com/tscoverscapstone2022/0666907001645193843?e=1&amp;page=1&amp;embedInfo=theme,8d101f,400d10,bfae9a,f0f1f2,ffffff;image,https://s8cdn.joomag.com/res_mag/0/515/515557/backgrounds/117467.png,fill"></iframe></center>
        <center><a href="url">thesoultownmagazine.com</a></center>
</body>
</html>
