
<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<h1 style="background-color:rgb(46, 184, 69);">Looking Back Over The Years</h1>

<body>
    <marquee behavior="scroll" direction="left"> • Thank YOU for having SOUL! • 2017, 2018, 2019, 2020, 2021, 2022 ... today! • Thank YOU for having SOUL! • </marquee>

    <title>Title of the document</title>
    <style>
      #blink {
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        color: #1c87c9;
        transition: 0.4s;
      }
    </style>
  </head>
  <body>
    <p id="blink">Flip through 63 covers The Soultown Magazine<center><br>Click the arrows to the right and left of the black box.</br></center></p>
    <script type="text/javascript">
      var blink = document.getElementById('blink');
      setInterval(function() {
        blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
      }, 1000);
    </script>

    <p>Welcome to The Soultown Magazine, a monthly publication that focuses on positive stories happening in the virtual community of the Soultown. 
        <br>Get your digital copy by clicking the link below. Digital formats are made available on the 15th of every month.</p><center><h2>We own the narratives of our stories. We must dare to share or be lost in our African American History forever.</h2></center></head>
    
        <p><center><iframe style="border: 1px solid rgb(236, 4, 4);" src="https://indd.adobe.com/embed/01497bbc-1935-4c4e-9d35-46ddd8a640e3?startpage=1&allowFullscreen=true" width="825px" height="584px" frameborder="0" allowfullscreen=""></iframe><br>
        <h1 style="background-color:rgb(46, 184, 69);"><a href="https://www.thesoultownmagazine.com/">The Soultown Magazine.com!</a></h1></p>


</body>
</html>




